<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/themes/github.css" />
        <script src="/socket.io/socket.io.js"></script>
		<title>SomaScrobbler API</title>
	</head>

	<body>
		<div class="container">

			<div class="page-header">
				<h1>SomaScrobbler API</h1>
				<p class="lead">Get auto-corrected and enhanced track metadata for <a rel="nofollow" href="http://somafm.com/">SomaFM</a> radio stations in real-time.</p>
			</div>
            <p><small>Note: This service is neither directly or indirectly affiliated with SomaFM or Last.fm. The source code for this service is freely available on <a href="https://github.com/maxkueng/somascrobbler-api">GitHub</a>.</small></p>

			<h2>Stations</h2>
            <p>The service currently provides data for the following stations:</p>
			<%
			var i = 0;
			_.forEach(stations, function (station) {
				if (i !== 0) { %>, <% }
			%><a rel="nofollow" href="http://somafm.com/<%= station %>/"><%- station %></a><%
				i++;
			});
			%>

			<h2>Getting Started</h2>
			
			<h4>Loading the Client Library</h4>
			<p>Load the socket.io client library. You should probably do this somewhere in the <code>&lt;head&gt;</code>. Load it from CDNJS or from where ever you prefer.</p>
			<pre><code data-language="html">&lt;script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"&gt;&lt;/script&gt;</code></pre>

			<p>A matching client library is also provided by SomaScrobbler. But using a real CDN is the preferred method.</p>
			<pre><code data-language="html">&lt;script src="<%- proxyURL %>/socket.io/socket.io.js"&gt;&lt;/script&gt;</code></pre>

			<h4>Connect to the SomaScrobbler API</h4>
			<pre><code data-language="javascript">var socket = io.connect('<%- proxyURL %>');</code></pre>

			<h4>Receive Track Metadata</h4>
			<p>Track metadata is provided by the <code>track</code> event.</p>
			<pre><code data-language="javascript">socket.on('track', function (track) {
    console.log(track);
});</code></pre>

			<p>Here's what a track object might look like:</p>

			<pre><code data-language="json">{
    stationId: 'secretagent',
    time: 1388248804000,
    artist: 'James Clarke',
    title: 'The Free Life',
    album: 'Music For TV Dinners: The \'60s',
    autocorrected: true,
    trackCorrected: false,
    artistCorrected: false,
    albumCorrected: true,
    trackMBID: null,
    artistMBID: null,
    albumMBID: null,
    duration: '130000',
    durationEstimated: false,
    original: {
        artist: 'James Clarke',
        title: 'The Free Life',
        album: 'Music For T.V. Dinners-The 60\'s'
    }
}</code></pre>

			<ul>
				<li><code>stationId</code> is the SomaFM station ID. The one used in the URLs, e.g. "secretagent" for "Secret Agent".</li>
				<li><code>time</code> is the UTC unix offset in milliseconds.</li>
				<li><code>title</code>, <code>artist</code> and <code>album</code> contain the potentially auto-corrected track title, artist name and album title.</li>
				<li><code>autocorrected</code> will be true if any data has been auto-corrected. <code>trackCorrected</code>, <code>artistCorrected</code> and <code>albumCorrected</code> accordingly.</li>
				<li><code>original</code> contains the uncorrected metadata from SomaFM if the data has been auto-corrected. Otherwise it will be omitted.</li>
				<li><code>trackMBID</code>, <code>artistMBID</code> and <code>albumMBID</code> contain the <a rel="nofollow" href="http://musicbrainz.org/">MusicBrainz</a> ID. They often aren't available.</li>
				<li><code>duration</code> is the duration of the track in milliseconds. This is either provided by Last.fm or based on the average duration of all previous tracks. If the duration has been estimated, <code>durationEstimated</code> will be true.</li>
			</ul>

			<h4>Subscribing to SomaFM Stations</h4>
			<p>To receive track metadata you need to subscribe to each station using the station ID by emitting a "subscribe" event.</p>

			<pre><code data-language="javascript">socket.emit('subscribe', 'groovesalad', function (data) {
    if (data.subscribed) { console.log('Subscribed!!'); }
});</code></pre>

			<p>You will stop receiving updates if you emit an "unsubscribe" event.</p>

			<pre><code data-language="javascript">socket.emit('unsubscribe', 'groovesalad', function (data) {
    if (data.unsubscribed) { console.log('Unsubscribed!!'); }
});</code></pre>

		<h2>Example</h2>
        <p>Here's a complete example. Want to see this in action? Scroll down to the <a href="#demo">demo</a>.</p>
        <pre><code data-language="javascript">var socket = io.connect('<%- proxyURL %>');

var tbody = document.querySelector('#demo tbody');

socket.on('connect', function () {
    [   'groovesalad', 'secretagent',
        'doomed', 'u80s', 'bagel'
    ].forEach(function (stationId) {
        socket.emit('subscribe', stationId);
    });
});

socket.on('track', function (track) {
    var tr = document.createElement('tr'),
        tdStation = document.createElement('td'),
        tdArtist = document.createElement('td'),
        tdTrack = document.createElement('td');

    tdStation.textContent = track.stationId;
    tdArtist.textContent = track.artist;
    tdTrack.textContent = track.title;

    tr.appendChild(tdStation);
    tr.appendChild(tdArtist);
    tr.appendChild(tdTrack);

    tbody.insertBefore(tr, tbody.childNodes[0]);
});</code></pre>

        <h2>Demo</h2>

        <table class="table" id="demo">
            <thead>
                <tr>
                    <th>Station</th>
                    <th>Time</th>
                    <th>Artist</th>
                    <th>Track</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

<script>
var socket = io.connect('<%- proxyURL %>');

var tbody = document.querySelector('#demo tbody');

socket.on('connect', function () {
    [   'groovesalad', 'secretagent',
        'doomed', 'u80s', 'bagel'
    ].forEach(function (stationId) {
        socket.emit('subscribe', stationId);
    });
});

socket.on('track', function (track) {
    var tr = document.createElement('tr'),
        tdStation = document.createElement('td'),
        tdTime = document.createElement('td'),
        tdArtist = document.createElement('td'),
        tdTrack = document.createElement('td'),
        d = new Date();

    d.setUTCSeconds(Math.floor(track.time / 1000), 0);

    tdStation.textContent = track.stationId;
    tdArtist.textContent = track.artist;
    tdTrack.textContent = track.title;

    tr.appendChild(tdStation);
    tr.appendChild(tdArtist);
    tr.appendChild(tdTrack);

    tbody.insertBefore(tr, tbody.childNodes[0]);
});
</script>

		</div> <!-- /container -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/rainbow.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/generic.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/javascript.js"></script>
	</body>
</html>
